.container{
     width: 1005px;
     margin: 0 auto;
     position: relative;
}

.left, .right {
    border: 1px solid blue;
    float: left;
    min-height: 450px;
}

.left{
    width: 220px;
    min-height: 450px;
    max-height: 450px;
    position: fixed;
    overflow: scroll;
}

.right{
     width: 750px;
     float: right;
}